<launch>
  <arg name="model" default="burger"/>
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find custom_gazebo_world)/worlds/my_maze.world"/>
    <arg name="paused" value="false"/>
  </include>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
        args="-urdf -model turtlebot3_burger -x -2.5 -y -3.35 -z 0.0 -param robot_description" />

  <arg name="map_file" default="$(find custom_gazebo_world)/maps/my_final_map.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find path_planning)/rviz/config.rviz"/>
</launch>
